* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

#canvas {
  background-image: url("./images/grass.png");
}

#toggle-mute {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
}

#toggle-random {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
}
