* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  overflow: hidden;
}

.toggle-btn {
  position: absolute;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
}
#toggle-mute,
#toggle-size {
  top: 0;
  left: 0;
}
#toggle-color {
  top: 0;
  right: 0;
}
#clear {
  bottom: 0;
  left: 0;
}
#download {
  bottom: 0;
  right: 0;
}

#clear-overlay,
#color-overlay,
#size-overlay {
  display: none;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;

  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#clear-overlay button,
#clear-overlay p {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
}

#color-overlay {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  padding-top: 100px;
  padding-right: 50px;
  overflow: hidden;
}
#color-overlay div {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.color-btn {
  border-radius: 100px;
  width: 75px;
  height: 75px;
  margin: 10px;
}

#size-overlay {
}
.size-btn {
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}

@media only screen and (max-height: 860px) {
  #color-overlay div {
    margin-right: 50px;
  }
}
